<a href="https://colab.research.google.com/github/ishazzz/Machine_Learning_Projects/blob/main/PANDAS_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Load the dataset in the jupyter notebook using pandas.
import pandas as pd

In [ ]:
df = pd.read_csv("/content/Housing.csv")

In [ ]:
#2. Print the following information:
#a) First five rows,
#b) Last ten rows,
#c) Name of all the columns,
#d) Shape of the dataset,
#e) Data types of all the columns














print("First five rows:")
print(df.head())


print("\nLast ten rows:")
print(df.tail(10))


print("\nColumn names:")
print(df.columns)

print("\nShape of the dataset:")
print(df.shape)


print("\nData types of columns:")
print(df.dtypes)

First five rows:
      price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0  13300000  7420         4          2        3      yes        no       no
1  12250000  8960         4          4        4      yes        no       no
2  12250000  9960         3          2        2      yes        no      yes
3  12215000  7500         4          2        2      yes        no      yes
4  11410000  7420         4          1        2      yes       yes      yes

  hotwaterheating airconditioning  parking prefarea furnishingstatus
0              no             yes        2      yes        furnished
1              no             yes        3       no        furnished
2              no              no        2      yes   semi-furnished
3              no             yes        3      yes        furnished
4              no             yes        2       no        furnished

Last ten rows:
       price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
535  2100000  3360         2          1        1      yes        no       no
536  1960000  3420         5          1        2       no        no       no
537  1890000  1700         3          1        2      yes        no       no
538  1890000  3649         2          1        1      yes        no       no
539  1855000  2990         2          1        1       no        no       no
540  1820000  3000         2          1        1      yes        no      yes
541  1767150  2400         3          1        1       no        no       no
542  1750000  3620         2          1        1      yes        no       no
543  1750000  2910         3          1        1       no        no       no
544  1750000  3850         3          1        2      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
535              no              no        1       no      unfurnished
536              no              no        0       no      unfurnished
537              no              no        0       no      unfurnished
538              no              no        0       no      unfurnished
539              no              no        1       no      unfurnished
540              no              no        2       no      unfurnished
541              no              no        0       no   semi-furnished
542              no              no        0       no      unfurnished
543              no              no        0       no        furnished
544              no              no        0       no      unfurnished

Column names:
Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

Shape of the dataset:
(545, 13)

Data types of columns:
price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#3. Create a new data frame of
#a) All categorical values
#b) All numerical values

categorical_df = df.select_dtypes(include=['object'])
numerical_df = df.select_dtypes(include=['int64', 'float64'])
print("Categorical dataframe:")
print(categorical_df.head())

print("\nNumerical dataframe:")
print(numerical_df.head())

Categorical dataframe:
  mainroad guestroom basement hotwaterheating airconditioning prefarea  \
0      yes        no       no              no             yes      yes
1      yes        no       no              no             yes       no
2      yes        no      yes              no              no      yes
3      yes        no      yes              no             yes      yes
4      yes       yes      yes              no             yes       no

  furnishingstatus
0        furnished
1        furnished
2   semi-furnished
3        furnished
4        furnished

Numerical dataframe:
      price  area  bedrooms  bathrooms  stories  parking
0  13300000  7420         4          2        3        2
1  12250000  8960         4          4        4        3
2  12250000  9960         3          2        2        2
3  12215000  7500         4          2        2        3
4  11410000  7420         4          1        2        2

In [ ]:
#4. Print the:
#a) No. of unique values of  “furnishingstatus” and their count
#b) No. of unique values of  “stories” and their count


furnishingstatus_counts = df['furnishingstatus'].value_counts()
print("Unique values and counts for 'furnishingstatus':")
print(furnishingstatus_counts)

stories_counts = df['stories'].value_counts()
print("\nUnique values and counts for 'stories':")
print(stories_counts)

Unique values and counts for 'furnishingstatus':
semi-furnished    227
unfurnished       178
furnished         140
Name: furnishingstatus, dtype: int64

Unique values and counts for 'stories':
2    238
1    227
4     41
3     39
Name: stories, dtype: int64

In [ ]:
#5. Print the:
#a) Price of the houses which are furnished.
#b) Area and Price of houses having bathroom >= 3 and guestroom = yes
#c) Rows where the price of the houses is more than 100 times of their areas.
#d) Mean price of the houses having furnishingstatus = semi-furnished

# a)
furnished_prices = df[df['furnishingstatus'] == 'furnished']['price']
print("Price of furnished houses:")
print(furnished_prices)

# b)
filtered_houses = df[(df['bathrooms'] >= 3) & (df['guestroom'] == 'yes')]
filtered_area_price = filtered_houses[['area', 'price']]
print("\nArea and Price of houses with bathroom >= 3 and guestroom = yes:")
print(filtered_area_price)

# c)
price_area_ratio = df[df['price'] > 100 * df['area']]
print("\nRows where price is more than 100 times of area:")
print(price_area_ratio)

# d)
semi_furnished_mean_price = df[df['furnishingstatus'] == 'semi-furnished']['price'].mean()
print("\nMean price of houses with furnishingstatus = semi-furnished:", semi_furnished_mean_price)

Price of furnished houses:
0      13300000
1      12250000
3      12215000
4      11410000
8       9870000
         ...
509     2590000
512     2520000
522     2380000
523     2380000
543     1750000
Name: price, Length: 140, dtype: int64

Area and Price of houses with bathroom >= 3 and guestroom = yes:
     area    price
11   6000  9681000
33   5960  8190000
499  3630  2660000

Rows where price is more than 100 times of area:
        price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0    13300000  7420         4          2        3      yes        no       no
1    12250000  8960         4          4        4      yes        no       no
2    12250000  9960         3          2        2      yes        no      yes
3    12215000  7500         4          2        2      yes        no      yes
4    11410000  7420         4          1        2      yes       yes      yes
..        ...   ...       ...        ...      ...      ...       ...      ...
540   1820000  3000         2          1        1      yes        no      yes
541   1767150  2400         3          1        1       no        no       no
542   1750000  3620         2          1        1      yes        no       no
543   1750000  2910         3          1        1       no        no       no
544   1750000  3850         3          1        2      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
0                no             yes        2      yes        furnished
1                no             yes        3       no        furnished
2                no              no        2      yes   semi-furnished
3                no             yes        3      yes        furnished
4                no             yes        2       no        furnished
..              ...             ...      ...      ...              ...
540              no              no        2       no      unfurnished
541              no              no        0       no   semi-furnished
542              no              no        0       no      unfurnished
543              no              no        0       no        furnished
544              no              no        0       no      unfurnished

[545 rows x 13 columns]

Mean price of houses with furnishingstatus = semi-furnished: 4907524.22907489

In [ ]:
#6. Print the:
#a) Number of missing values in each column
#b) Code to replace the missing values in column = bedrooms with mean
#c) Code to replace the missing values in column = stories with the median
#d) Code to replace the missing values in column = furnishingstatus with appropriate central tendency.

# a)
missing_values_count = df.isnull().sum()
print("Number of missing values in each column:")
print(missing_values_count)

# b)
mean_bedrooms = df['bedrooms'].mean()
df['bedrooms'].fillna(mean_bedrooms, inplace=True)

# c)
median_stories = df['stories'].median()
df['stories'].fillna(median_stories, inplace=True)

# d)
mode_furnishingstatus = df['furnishingstatus'].mode()[0]
df['furnishingstatus'].fillna(mode_furnishingstatus, inplace=True)

print("\nNumber of missing values after replacement:")
print(df.isnull().sum())

Number of missing values in each column:
price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

Number of missing values after replacement:
price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [ ]:
#7. Due to a sudden hike in land prices, all the land prices hiked 10% of their previous price. Reflect this change in the original dataset.

df.loc[df['mainroad'] == 'yes', 'price'] = df[df['mainroad'] == 'yes']['price'] * 1.1

print("Updated dataset with land prices increased by 10%:")
print(df.head())

updated_dataset_path = 'Updated_Housing.csv'
df.to_csv(updated_dataset_path, index=False)

Updated dataset with land prices increased by 10%:
        price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0  14630000.0  7420         4          2        3      yes        no       no
1  13475000.0  8960         4          4        4      yes        no       no
2  13475000.0  9960         3          2        2      yes        no      yes
3  13436500.0  7500         4          2        2      yes        no      yes
4  12551000.0  7420         4          1        2      yes       yes      yes

  hotwaterheating airconditioning  parking prefarea furnishingstatus
0              no             yes        2      yes        furnished
1              no             yes        3       no        furnished
2              no              no        2      yes   semi-furnished
3              no             yes        3      yes        furnished
4              no             yes        2       no        furnished

In [ ]:
#8. Save this updated data frame in your system as “updated_housing.xlsx”

updated_excel_path = 'updated_housing.xlsx'
df.to_excel(updated_excel_path, index=False)

print("Updated dataframe saved as 'updated_housing.xlsx'")

Updated dataframe saved as 'updated_housing.xlsx'